.head{
    display: flex;
}
.Header{
    margin-top:40px;
    margin-bottom:0px;
    height:250px;
    width:1000px;
    color:black;
    margin-left:25%;
}
.Header--image1{
   margin-left:10px;
   padding-left:0px;
   height:130px;
   width:140px;
}
.Header--image2{
    margin-right:90px;
    height:130px;
    width:140px;
    margin-top:110px;
}
.Header--t1{
    color:orange;
    font-size:x-large;
    margin-left:10px;
    padding-top:90px;
    margin-right:0px;

}
.Header--t2{
    margin-right:20px;
    margin-top:130px;
    font-size:xx-large;
    padding-right:0px;
}