
.header-content {
  flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50vh;
  }
  
  .heading2 {
    text-align: right;
    color: #100000;
    font-size: 40px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-right: 100px; 
    margin-bottom:160px;
    margin-top:200px;
  }

  .heading1 {
    position: absolute;
    margin-top: 80px; 
    left: 40px; 
    color: #100000;
    font-size: 40px; 
    font-family: 'Inter';
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  
































