.container-leader {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 100px;
}

.container img {
    width: 150px;
    padding: 0;
}

.img1 img {
    margin-top: 120px;
  }

.img3 img {
margin-top: 70px;
}

.img2 img {
    margin-top: 24px;
}

.img1,
.img2,
.img3 {
    position: relative;
    margin-top: 10px; 
}

.img1 p,
.img2 p,
.img3 p {
    font-size: 12px;
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    margin-bottom:120px;
}
